spring:
  profiles:
    active: dev
  config:
    import: optional:file:.env[.properties]
  application:
    name: pf-exchange
  main:
    banner-mode: off
  output:
    ansi:
      enabled: always
  messages:
    basename: i18n/messages, i18n/ValidationMessages
    default-locale: uz
    encoding: UTF-8
    fallback-to-system-locale: false
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: oracle.jdbc.OracleDriver
    hikari:
      minimum-idle: 10
      maximum-pool-size: 30
      pool-name: pf-exchange_pool
      auto-commit: false
      connectionTimeout: 45000
      idleTimeout: 600000
      maxLifetime: 1200000
      data-source-properties:
        "[v$session.program]": PF-EXCHANGE
        cachePrepStmts: true
        prepStmtCacheSize: 100
        prepStmtCacheSqlLimit: 1024
      leak-detection-threshold: 2000
      connection-init-sql: >
        BEGIN
          EXECUTE IMMEDIATE 'ALTER SESSION SET NLS_TERRITORY=''CIS''';
          EXECUTE IMMEDIATE 'ALTER SESSION SET NLS_NUMERIC_CHARACTERS=''.,''';
          EXECUTE IMMEDIATE 'ALTER SESSION SET NLS_LANGUAGE=''AMERICAN''';
          EXECUTE IMMEDIATE 'ALTER SESSION SET TIME_ZONE=DBTIMEZONE';
        END;
  servlet:
    multipart:
      max-file-size: 2000MB
      max-request-size: 2000MB
      enabled: true
  jackson:
    serialization:
      indent_output: true
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        jdbc:
          batch_size: 50
        order_inserts: true
    open-in-view: true

server:
  port: 8080
  compression:
    enabled: true
    min-response-size: 32
  servlet:
    session:
      timeout: 30m
      cookie:
        max-age: 24h

management:
  endpoints:
    web:
      base-path: /api/v1/admin/actuator
      exposure:
        include: info, health, metrics, startup
  endpoint:
    startup:
      enabled: true
  info:
    java:
      enabled: true
    os:
      enabled: true